/* CSS reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

/* styles */

/* google font */
.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 13px;
}

h1 {
    margin-top: 1rem;
    text-align: center;
    color: darkblue
}

.game-view {
    background-color: aquamarine;
    border-radius: 15px;
    box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.2), 
                -6px -6px 10px rgba(0, 0, 0, 0.15),
                -9px -9px 15px rgba(0, 0, 0, 0.1),
                3px 3px 5px rgba(0, 0, 0, 0.2),
                6px 6px 10px rgba(0, 0, 0, 0.15),
                9px 9px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.splash-view {
    width: 80%
}

.cover-img {
    max-width: 30%;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.intro-section {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
}

.intro-story {
    width: 30%;
}

.game-controls {
    width: 30%
}

.end-view {
    background-color: bisque;
    width: 900px;
    height: 500px;
    display: none;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: darkblue;
    color: white;
    width: 200px;
    height: 2rem;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    cursor: pointer;
}

.lives-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    top: 2px;
    left: 2px;
}

.life {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: darkblue;
}

.window {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.platform {
    position: absolute;
    height: 20px;
    background-color: brown;
}


.player-char {
    position: absolute;
    /*border: 2px solid red;*/
}

.player-char-img {
    position: absolute;
    top: -2px;
    left: -25px;
    min-width: 64px;
    min-height: 64px;
}

.weapon-element {
    position: absolute;
    /*border: 2px solid red;*/
}

.weapon-img {
    position: absolute;
    top: -4px;
    left: -2px;
    min-width: 32px;
    min-height: 32px;
    animation: rotate 1.5s linear infinite;
}

.enemy {
    position: absolute;
    /*border: 2px solid red;*/
}

.flip-image {
    transform: scaleX(-1);
}

.temple {
    min-height: 64px;
    min-width: 64px;
    position: absolute;
    top: -64px;
    left: 80px;
}

.boss-level {
    background-color: lightcoral;
}

.boss-lives {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.boss-life {
    background-color: darkred;
}

.death-view {
    background-color: black;
    background-image: url("../images/sekiroDeathScreen.jpg");
    background-position: center;
    background-size: cover;    
}

.victory-view {
    background-color: blue;
    background-image: url("../images/victory-view-bg.jpg");
    background-position: center;
    background-size: cover;
    flex-direction: column;
}

.victory-view > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.victory-view > h1 {
    color: white;
}

.transition-view {
    flex-direction: column;
    height: 450px;
    width: 700px;
    justify-content: space-evenly;
    padding: 0 3rem;
    text-align: center;
}

/* add animation to rotate weapons */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
